spring:
  pulsar:
    client:
      service-url: pulsar://localhost:6650
    defaults:
      type-mappings:
        - message-type: com.example.order.domain.OrderCreatedEvent
          schema-info:
            schema-type: JSON
    consumer:
      dead-letter-policy:
        max-redeliver-count: 3
        dead-letter-topic: persistent://public/default/order-created-dlq
  datasource:
    url: jdbc:h2:mem:ordersdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  otlp:
    tracing:
      endpoint: http://localhost:4318/v1/traces
  tracing:
    sampling:
#      задаёт частоту выборки (1.0 = always).
#      означает 100% трассировка (в проде обычно 0.1 или меньше).
      probability: 1.0
